.FooterContainer {
  /* padding: 20px; */
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: #3d3d3d;
}

.FooterContainer img {
  height: 29px;
  width: 29px;
  margin: 5px;
}

.copyright {
  color: #010101;
  font-size: smaller;
  display: flex; 
  width: 50%; 
}