.HatEditContainer {
  text-align: left;
  background-color: white;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}

.warning {
  color: #f26700;
}

.HatEditContainer label {
  padding: 10px;
}

.HatEditContainer select {
  margin: 10px;
}

.HatEditContainer button {
  margin: 10px;
}
