.TopNavContainer {
  overflow: hidden;
  background-color: #3d3d3d;
}

/* Style the topnav links */
.TopNavContainer a {
  /* float: left; */
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.TopNavContainer a:hover {
  background-color: #f1ebed;
  color: #010101;
}

.LeftLink {
  color: #a9cad3;
  float: left;
}

.RightLink {
  color: #a9cad3;
  float: right;
}

.TopNavContainer img {
  height: 29px;
  width: 29px;
  margin: 5px;
}
