// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

.bd-color-false {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.bd-color-true {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    height: 24px;
    margin-right: 8px;
	width: 24px;
	border-style: solid;
	border-color: $black;
}



.has-background-red {
    background-color: $red !important;
}
.has-background-blue {
    background-color: $blue !important;
}
.has-background-green {
    background-color: $green !important;
}
.has-background-yellow {
    background-color: $yellow !important;
}
.has-background-purple {
    background-color: $purple !important;
}
.has-background-orange {
    background-color: $orange !important;
}
